.metadata
LP.Core.ADCorredores/bin
LP.Core.ADCorredores/obj
LP.Core.ADCorredores.Comunes/bin

LP.Core.LP.Core.ADCorredores.Comunes/obj
LP.Core.LP.Core.ADCorredores.Comunes/bin
LP.WSRest.Corredores.Produccion/bin

LP.Core.ADCorredores.Seguridad/obj
LP.Core.ADCorredores.Seguridad/bin

LP.Core.BLCorredores/obj
LP.Core.BLCorredores/bin

LP.Core.BLCorredores.Comunes/obj
LP.Core.BLCorredores.Comunes/bin

LP.Core.BLCorredores.Seguridad/obj
LP.Core.BLCorredores.Seguridad/bin

LP.WSRest.Corredores.Produccion/bin
LP.WSRest.Corredores.Produccion/obj

LP.WSRest.Corredores.Produccion/Logs
Encriptar/obj/
LP.Core.ADCorredores.Comunes/obj
Encriptar/bin/